/* Custom styles for the web application */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 10px;
}

.navbar {
    margin-bottom: 20px;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
}
nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #1dce09;
}
nav a:hover {
    text-decoration: underline;
}
.content {
    padding: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Form styles */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
form div {
    margin-bottom: 15px;
}
form label {
    display: block;
    margin-bottom: 5px;
}
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 2px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1dce09;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #1dce09;
}

/* font styles */ 
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1dce09;
}

h2 {
    margin-bottom: 20px;
    margin-top: 0px;
    color: black;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #1dce09;
    border-radius: 4px;
    color: #1dce09;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #1dce09;
    color: #fff;
}

/* Search bar styles */
.search-bar {
    margin-bottom: 10px;
    margin-right: 100px;
    justify-content: center;
    
}

.search-bar input {
    width: 30%;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}